.form-container {
  display: flex ;
  flex-direction: column ;
  width: 100% ;
}

.mat-dialog-actions {
display: flex ;
justify-content: center ;
margin-top: 15px;
}

.btn-dialog {
border : 1px solid black ;
background-color: green ;
color: black;
font-size: 1.2em;
}

.btn-dialog:hover {
border : 2px solid black ;
background-color: #27e327;
}

.btn-dialog:disabled {
background-color: rgba(0,0,0,.12);
border : none ;
}
