<form [formGroup]="clientForm" class="form-container">
    <mat-form-field>
        <input type="text" matInput class="form-control" formControlName="prenom" placeholder="prénom">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput class="form-control" formControlName="nom" placeholder="nom">
    </mat-form-field>
    <mat-form-field>
        <input type="text" matInput class="form-control" formControlName="mail" placeholder="email" >
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput class="form-control" formControlName="tel" placeholder="téléphone">
    </mat-form-field>
    <mat-card>
        <mat-card-content>
          <mat-checkbox class="form-control" formControlName="newsletter" [(ngModel)]="checked">Newsletter</mat-checkbox>
        <!--<input type="text" matInput class="form-control" formControlName="newsletter" placeholder="newsletter">-->
        </mat-card-content>
      </mat-card>
    <div mat-dialog-actions>
    <button mat-button color="primary" [disabled]="clientForm.invalid" [mat-dialog-close]="1" (click)="confirmEdit()">Valider</button>
    <button mat-button color="basic" (click)="onNoClick()">Annuler</button>
    </div>
</form>