/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  text-align: center;
}

.active {
  background-color: #5262bc;
}

.active-mobile {
  background-color: #cccccc;
}
