.navbar {
  border-radius: 5px;
}
.companyName {
  font-size: 150%;
}

div {
  overflow: inherit;
}

a {
  text-decoration: none;
  font-size: 100%;
  white-space: normal;
}

.spacer1 {
  flex: 0.2 0.2 auto;
}

.mat-sidenav-content {
  font-size: 200%;
}

.burger-menu {
  text-decoration: none;
}

@media (max-width: 960px) {
  .deconnexion {
    display: none;
  }
}

.mat-icon {
  margin-top: -3px !important;
  margin-right: 3px !important;
}
